.metadata
.metadata\*
debug.log
Remplewicz/.idea
Remplewicz/.settings
Remplewicz/bin
Remplewicz/.classpath
Remplewicz/.project
Remplewicz/plik.txt
Remplewicz/przejazdy.o
Remplewicz/Remplewicz.iml
Remplewicz/tablica.bin
Remplewicz/out
